
.stock{
    display: flex;
    justify-content: center;
    font-size: 1.2rem;
}
.stock-count{
    margin: 0.5rem;
    font-size: 1.5rem;
    text-align: center;
}
.item-count-container{
    text-transform: uppercase;
    font-family: Roboto,sans-serif;
    color: var(--textColor);
    width: 20rem;

}
.subs-add-stock{
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
    border: 0.01rem solid white;
    border-radius: 5px;
    margin: 0.5rem;
    background-color: white;
    color:var(--maincolor);
    font-size: 2rem;
    height: 2.1rem;

}
.subs-add-stock-btn{
    display: flex;
    align-items:center;
    border: 0.01rem solid white;
    margin: 0.5rem;
    background-color: white;
    color:var(--maincolor);
    font-size: 1.5rem;

}

.right{
    right:0;
    font-size: 1.8rem

}
.right:hover{
    color:green; 
    cursor: pointer;  
}
.left{
    display: flex;
    justify-content: center;
    left: 0;
    font-size: 1.8rem
}
.left:hover{
    color: yellow;
    cursor: pointer;  
}

.inc-dec-stock-sign{
    display: flex;
    justify-content: center;
    align-items: center;
}
.disable-sign-left{
    left: 0;
    cursor: default;
    font-size: 1.8rem;


}
.disable-sign-right{
    right:  0;
    cursor: default;
}

.button{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20rem;
    height: 3rem;
    font-size: 1.5rem;
    font-weight: 600;
    font-family: 'Bebas Neue', cursive;
    border: 0.01rem solid var(--maincolor);
    border-radius: 5px;
    background-color: #eee;
    box-shadow: 2px 2px 2px #ec4881;
    user-select: none;
}
.button:hover{
    background-color: pink;
    color: var(--textColor);
    cursor: pointer;    
}

.btn-terminar-compra{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 13rem;
    height: 4rem;
    font-size: 1.5rem;
    font-weight: 600;
    font-family: 'Bebas Neue', cursive;
    color: #F00758;
    border: 0.01rem solid var(--maincolor);
    border-radius: 5px;
    background-color: #eee;
    box-shadow: 2px 2px 2px #ec4881;
    user-select: none;
}
.btn-terminar-compra:hover{
    background-color: pink;
    color: var(--textColor);
    cursor: pointer;    
}

.inc-dec-stock-n{
font-size: 1.8rem;
display: flex;
justify-content: center;
align-items: center;
}

.inc-dec-disponible{
    display: flex;
    justify-content: space-around;
    margin: 5px;
    margin-bottom: 20px;
    height: 3rem;
    background-color: pink;
}