.count-component-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}
.stock-count{
    margin: 0.5rem;
    font-size: 1.5rem;
    text-align: center;
}
.count-container{
    margin: 1rem;
    font-size: 2rem;
    text-transform: uppercase;
    font-family: Roboto,sans-serif;
    color: var(--textColor);
    background-color: var(--maincolor);
    padding: 1rem;
    width: 20rem;
}
.subs-add-stock{
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
    border: 0.01rem solid white;
    border-radius: 5px;
    margin: 0.5rem;
    background-color: white;
    color:var(--maincolor);
    font-size: 2rem;
    height: 2.1rem;

}
.subs-add-stock-btn{
    display: flex;
    align-items:center;
    border: 0.01rem solid white;
    margin: 0.5rem;
    background-color: white;
    color:var(--maincolor);
    font-size: 1.5rem;

}

.right{
    right:0;

}
.right:hover{
    color:green; 
    cursor: pointer;  
}
.left{
    left: 0;
}
.left:hover{
    color: var(--secondaryColor);
    cursor: pointer;  
}

.subs-add-stock-number{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0.01rem solid white;
    margin: 0.5rem;
    background-color: white;
    color:var(--maincolor);
    font-size: 1.5rem;
    user-select: none;

}
.disable-sign-left{
    left: 0;
    color: #cccccc;
    cursor: default;
}
.disable-sign-right{
    right:  0;
    color: #cccccc;
    cursor: default;
}
.button{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20rem;
    height: 3rem;
    font-size: 1.5rem;
    font-weight: 600;
    font-family: 'Bebas Neue', cursive;
    border: 0.01rem solid var(--maincolor);
    border-radius: 5px;
    background-color: #eee;
    box-shadow: 2px 2px 2px #ec4881;
    user-select: none;
}
.button:hover{
    background-color: var(--secondaryColor);
    color: var(--textColor);
    cursor: pointer;    
}

.btn-terminar-compra{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 15rem;
    height: 3rem;
    font-size: 1.5rem;
    font-weight: 600;
    font-family: 'Bebas Neue', cursive;
    color: #F00758;
    border: 0.01rem solid var(--maincolor);
    border-radius: 5px;
    background-color: #eee;
    box-shadow: 2px 2px 2px #ec4881;
    user-select: none;
}